td:nth-child(2) {
    max-width: 200px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td:last-of-type {
    text-align: center;
}

td:last-of-type span {
    margin: 0 5px
}

.modal {
    display: block;
    pointer-events: none;
}

.show {
    opacity: 1;
    pointer-events: visible;
}